<!DOCTYPE html>
<html>
	<h1>Contact Sample App</h1>
	<head>
		<title class="title">Ruby On Rails Tutorial Sample App | <%= @title %></title>
	</head>

	<body>

		<p>
			Not Empty Body TXT
		</p>
	</body>

	<!-- <h1>StaticPages#contact</h1>
	<p>
	Find me in app/views/pages/contact.html.erb
	</p> -->
</html>
