<!DOCTYPE html>
<html>
	<h1>Sample App</h1>
	<head>
		<title class="title">Ruby On Rails Tutorial Sample App | Home</title>
	</head>

	<body>
		<h1>StaticPages#home</h1>
		<p>
			Find me in app/views/pages/home.html.erb
		</p>

		<p>
			Sample App
		</p>
	</body>

</html>
