<h1>Sample App</h1>
<head>
	<title>Ruby On Rails Tutorila Sample App | Home</title>>
</head>
<h1>StaticPages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<body>
	<p>Sample App</p> 
</body>
