<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <!-- Ch 10 Delete link for micropost related to only the current_user  http://ruby.railstutorial.org/chapters/user-microposts#code-micropost_partial_with_delete -->
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
  
</li>